{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

<div class="col-xs-11">
    <h3>Complete the form to register</h3></br>

    {{ form_start(form, {
        'method': 'post',
        'action': path('fos_user_registration_register'),
        'attr': {'class': 'fos_user_registration_register'}
    }) }}

        {{ form_row(form.email) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.plainPassword) }}
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />

    {{ form_end(form) }}
</div>