{% extends '@Reservation/layout.html.twig' %}

{% block body %}

    <div class="js-calendar" style="visibility: hidden;"
         data-min-time="{{ minTime }}"
         data-slot-duration="{{ slotDuration }}"
         data-interval="{{ interval }}"
         data-restaurant="{{ restaurant }}"
    ></div>

    <script src="{{ asset('js/calendar.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.min.js"></script>

    {% include '@FullCalendar/Calendar/calendar.html.twig' %}
{% endblock %}
