{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Restaurant Booking Management{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
            'https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css'
            '../app/Resources/public/css/screen.css'
            filter="cssrewrite"
        %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/v4-shims.css"/>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"/>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.min.css">
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endblock %}

    {% block javascript %}
    {% javascripts
        'https://code.jquery.com/jquery-3.2.1.slim.min.js'
        'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
        'https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
        'https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js'
    %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.min.js"></script>

    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="overlay"></div>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                {% if is_granted('ROLE_USER') %}
                    <button type="button" id="sidebarCollapse" class="btn btn-default pull-left">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                {% endif %}

                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <span class="glyphicon glyphicon-home"></span> Restaurants</a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navCollapse">
                <ul class="nav navbar-nav navbar-right">

                    {% if is_granted('ROLE_USER') == false %}
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Login
                                <span class="glyphicon glyphicon-log-in"></span></a></li>
                    {% endif %}

                </ul>

                <form class="navbar-form navbar-right" role="search" action="{{ path('search') }}">
                    <div class="input-group add-on">
                        <input class="form-control" placeholder="Search" name="search" id="search" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="row">
        <section class="col-md-3 col-sm-2 col-xs-1">
            {% if is_granted('ROLE_USER') %}
                {% block sidebar %}
                    {% include 'sidebar.html.twig' %}
                {% endblock %}
            {% endif %}
        </section>
        <section id="mainContent" class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-12 col-xs-10">
            {% block body %}{% endblock %}
        </section>
    </div>

</div>

</body>
</html>
