{% extends 'ReservationBundle::layout.html.twig' %}

{% block body %}

    <div class="row navigation text-center col-md-9 col-sm-10 col-xs-12">
        {{ knp_pagination_render(restaurants) }}
    </div>

    <div class="row col-md-9 col-sm-10 col-xs-12">
        {% for restaurant in restaurants %}
            <article>
                <h3 class="row col-xs-12">
                    {{ restaurant.name }}
                </h3>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="{{ asset('images/restaurant.jpeg') }}">
                    </div>

                    <div class="col-xs-6">

                        {% if is_granted('ROLE_USER') %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="{{ path('reservation_request', {id: restaurant.id}) }}">
                                        <button class="btn btn-success">Book Table</button>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        {%
                            if (is_granted('ROLE_USER') and restaurant.manager == app.user)
                            or is_granted('ROLE_ADMIN')
                        %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="{{ path('view_timeline', {id: restaurant.id}) }}">
                                        <button class="btn btn-primary">View Timeline</button>
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div><br/>
            </article>
        {% endfor %}
    </div>

    <div class="row navigation text-center col-md-9 col-sm-10 col-xs-12">
        {{ knp_pagination_render(restaurants) }}
    </div>

{% endblock %}