{# src/BlogBundle/Resources/views/Blog/create.html.twig #}
{% extends 'ReservationBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '0d'
            });
        });
    </script>
{% endblock %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h3>Book a table on the <b>{{ restaurant_name }}</b> restaurant</h3><br/>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col-md-8 col-sm-10 col-xs-11">
        {{ form(form) }}
    </div>

{% endblock %}
